:host {
  display: block;
  margin: auto;
  width: 1366px;
  height: 768px;
  background-color: rgba(99, 77, 77, 0.52);
  border-radius: 10px;
  border: 2px solid rgba(146, 0, 0, 0.72);
  box-shadow: 0 0 11px 3px rgba(146, 0, 0);
}
