/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  text-align: center;
  margin-top: 2%;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
@font-face {
  font-family: customFont;
  src: url('/assets/customFont.ttf') format("truetype");
}
